<li id="{{id}}" class="roll-toast directory-item document actor flexrow" style="display:flex">
    <div>
        <img class="avatar" src="{{img}}" />
    </div>
    <div class="imagestack" style="flex-grow:4">
        <div class="class roboto-upper">{{name}}</div>
        <span>{{title}}</span>
    </div>
    <div style="flex-shrink:2">
        <div class="bigText">
            <span {{#if crit}}style="color:green"{{/if}} {{#if fail}}style="color:red"{{/if}}>{{result}}</span>
        </div>
        {{#if advantage}}
            <i class="fa fa-angle-double-up"></i>
        {{/if}}
        {{#if disadvantage}}
            <i class="fa fa-angle-double-down"></i>
        {{/if}}
    </div>
</li>