<li id="{{id}}" class="roll-toast directory-item document actor flexrow" style="display:flex">
    <div>
        <img class="avatar" src="{{img}}" />
    </div>
    <div class="imagestack" style="flex-grow:4">
        <div class="class roboto-upper">{{name}}</div>
        <span>{{title}}</span>
    </div>
    <div class="bigText" style="flex-shrink:1">
        <span>{{result}}</span>
    </div>
</li>